:root {
    --mainColor: #213448;
    --subColor: #547792;
    --subSubColor: #94B4C1;
    --bgColor: #EAE0CF;

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    nav {
        div {
            display: flex;
            flex-direction: row;
            align-items: center;
            
            i {
                margin: 0px 20px;
                font-size: 1.5em;
            }
        }

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin: 0px 50px;
        color: white;
    }

    #content {
        background-color: var(--bgColor);
        display: flex;
        flex: 1;
        flex-direction: row;
        align-items: start;

        #toolbar {
            margin: 20px 50px;
            padding: 10px;
        }

        #toolbar {
            display: flex;
            flex-direction: column;
            filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.5));
            border-radius: 20px;
            background-color: white;

            #newTask, #newProject, #myTasks, #myProjects, #home {
                display: flex;
                flex: 1;
                font-weight: bolder;
                flex-direction: row;
                align-items: center;
                background-color: white;
                filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.5));
                border-radius: 10px; 
                padding: 15px;
                width: 200px;
                margin: 5px;
                transition: all 0.1s ease-in;
            }

            #newTask:hover,
            #newProject:hover,
            #myTasks:hover,
            #myProjects:hover,
            #home:hover {
                background-color: var(--mainColor);
                color: white;
                cursor: pointer;
            }

            #newTask:hover i,
            #newProject:hover i,
            #myTasks:hover i,
            #myProjects:hover i,
            #home:hover i{
                color: white;
            }

            #projectTag {
                width: 150px;
            }

        }

        /*Each Clickable Element (Text)*/
        #toolbar > span > span {
            font-size: 1.2rem;
            margin-left: 10px;
        }

        /*Each Clickable Element (Icon)*/
        i {
            font-size: 1.5rem;
            max-height: 25px;
            max-width: 25px;
            color: var(--mainColor);
            transition: all 0.1s ease-in;
        }
        
        #projectArea {
            .project {
                background-color: white;
                padding: 20px;
                margin: 20px;
                filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.5));
                width: 400px;
                max-width: 400px;
                border-radius: 10px;

                .projectDesc {
                    display: flex;
                    flex-direction: column;

                    .projectContainer {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;

                        .delete > i{
                            color: red;
                            transition: all 0.1s ease-in;
                        }

                        .delete > i:hover{
                            color: darkred;
                            cursor: pointer;
                        }
                    }
                }
            }
        }

        #taskArea {
            display: flex;
            flex-direction: row;
            border-radius: 10px;

            .task {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                max-width: 200px;
                width: 200px;
                padding: 20px;
                margin: 20px;
                max-height: 220px;
                height: 250px;
                background-color: white;
                filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.5));
                display: flex;
                flex-direction: column;
                border-radius: 10px;
                
                .infoContainer {
                    display: flex;
                    flex-direction: column;

                    .tag {
                        margin-top: 10px;
                        padding: 5px;
                        background-color: var(--subColor);
                        color: white;
                        border-radius: 30px;
                        text-align: center;
                        max-width: 30%;
                        font-weight: bold;
                    }
                }

                .taskContainer {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;

                    .priority > i {
                        color: black;
                        transition: all 0.1s ease-in-out;
                    }

                    .priority > i:hover {
                        color: gold;
                        cursor: pointer;
                    }

                    .delete > i{
                            color: red;
                            transition: all 0.1s ease-in;
                        }

                    .delete > i:hover{
                        color: darkred;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}

header, footer {
    background-color: var(--subColor);
}

.name {
    font-size: large;
    font-weight: bolder;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    font-weight: bolder;
    color: white;
}

#newTaskDialog, #newProjectDialog {
    position: absolute;
    border: gray 1px solid;
    padding: 30px 20px;
    border-radius: 30px;
    width: 250px;

    form {
        display: flex;
        flex-direction: column;

        span {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 10px;
        }

        .submit {
            border: none;
            border-radius: 20px;
            background-color: var(--subColor);
            color: white;
            padding: 10px;
            transition: all 0.1s ease-in;
        }

        .cancel {
            margin-top: 10px;
            border: none;
            border-radius: 20px;
            background-color: darkred;
            color: white;
            padding: 10px;
            transition: all 0.1s ease-in;
        }

        .submit:hover {
            background-color: var(--mainColor);
        }

        .cancel:hover {
            background-color: red;
        }
    }
}

